# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS / Editor specific
.DS_Store
Thumbs.db
.vscode/

# Build artifacts
dist/
build/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project
